@import "../responsive";

.details {
  margin-bottom: 2em;

  .title {
    font-size: 3em;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include responsive(pc-small) {
    grid-template-columns: repeat(3, 1fr);
  }

  .post {
  }
}
